<div class="row">
  <div class="col-sm-6">
    <!-- 検索欄のHTMLの追加 start -->
    <form class="form-inline js-search-form">
      <div class="input-group">
        <input type="text" class="form-control js-search-query" name="q">
        <div class="input-group-btn">
          <button class="btn btn-success" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <!-- 検索欄のHTMLの追加 end -->
  </div>
  <div class="col-sm-6 text-right">
    <a href="#new" class="btn btn-primary btn-small js-new">
      <span class="glyphicon glyphicon-plus"></span>
      New Note
    </a>
  </div>
</div>
