<td>
  <a href="#notes/<%= id %>">
    <%= title %>
  </a>
</td>
<td>
  <div class="text-right">
    <a href="#notes/<%= id %>/edit" class="btn btn-primary btn-sm js-edit">
      <span class="glyphicon glyphicon-edit"></span>
      Edit
    </a>
    <a href="#" class="btn btn-danger btn-sm js-delete">
      <span class="glyphicon glyphicon-remove"></span>
      Delete
    </a>
  </div>
</td>
